<%# Logged In or not %>

<% if(1){  %>
        <%- include("start") -%>
        <%- include("navigationAfter") -%>
<%    }else %>
<%{  %>
<%-    include("start") -%>
        <%- include("navigationBefore")   -%>
        <% } %>

    <link rel="stylesheet" type="text/css" href="../public/css/influence.css">

    <div class="create">
        <h1>Let's Create!</h1>
        <hr>
    </div>
    <div class="blogBox">
        <div class="blogTitle">
            
        </div>
        <div>
            
        </div>
    </div>
    <div class="buttonBar">
        <div class="upload-btn-wrapper">
                <button class="btn">Upload Photo Here</button>
                <input type="file" name="myfile" accept="image/*">
            </div><br>

            <input type="submit">
    </div>

</body>
</html>