<header>
    <link rel="stylesheet" type="text/css" href="/css/navigation.css">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <div class="nav">
        <ul class="topnav">
        <li><a href="/">Logo</a></li>
        <li><a href="/">CuriousCat</a></li>
        <li><div class="dropdown"><a href="javascript:void(0)" class="dropbtn">CAT-ego-ries</a>
        
        <div class="dropdown-content">
            <a href="/blogs/category/pet">Pet</a>
            <a href="/blogs/category/food">Food</a>
            <a href="/blogs/category/travel">Travel</a>
            <a href="/blogs/category/technical">Technical</a>
            <a href="/blogs/category/movie">Movies and TV Series</a>
            <a href="/blogs/category/educational">Educational</a>
            <a href="/blogs/category/political">Political</a>
            <a href="/blogs/category/photography">Photography</a>
        </div>
    </div></li>
    
        <li style="float:right"><div class="signUp">
            <a href="/signup"><button class="btn" style="color:white;background-color: blue;font-size: 15px; line-height: 5px;">Sign Up</button></a>
        </div></li>
        <li style="float:right"><div class="signIn">
            <a href="/signin"><button class="btn" style="color:white;background-color: blue;font-size: 15px; line-height: 5px;">Sign In</button></a>
        </div></li>
        <li style="float:right"><div><a href="/search">Search</a></div></li>
        <li style="float:right"><div><a href="/aboutus">About Us</a></div></li>
    </ul>
    </div>
    
</header>