<header>
    <link rel="stylesheet" type="text/css" href="/css/navigation.css">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <div class="nav">
        <ul class="topnav">
        <li><a href="/">Logo</a></li>
        <li><a href="/">CuriousCat</a></li>
        <li><div class="dropdown"><a href="javascript:void(0)" class="dropbtn">CAT-ego-ries</a>
        
        <div class="dropdown-content">
            <a href="/blogs/category/Pet">Pet</a>
            <a href="/blogs/category/Food">Food</a>
            <a href="/blogs/category/Travel">Travel</a>
            <a href="/blogs/category/Technical">Technical</a>
            <a href="/blogs/category/Movie">Movies and TV Series</a>
            <a href="/blogs/category/Educational">Educational</a>
            <a href="/blogs/category/Political">Political</a>
            <a href="/blogs/category/Photography">Photography</a>
        </div>
    </div></li>
    
        <li style="float:right"><div class="signUp">
            <a href="/signup"><button class="btn" style="color:white;background-color: blue;font-size: 15px; line-height: 5px !important;">Sign Up</button></a>
        </div></li>
        <li style="float:right"><div class="signIn">
            <a href="/signin"><button class="btn" style="color:white;background-color: blue;font-size: 15px; line-height: 5px !important;">Sign In</button></a>
        </div></li>
        <li style="float:right"><div><a href="/search">Search</a></div></li>
        <li style="float:right"><div><a href="/aboutus">About Us</a></div></li>
    </ul>
    </div>
    
</header>