<header>
    <link rel="stylesheet" type="text/css" href="css/navigation.css">
    <div class="nav">
        <ul class="topnav">
        <li><a href="./homePage.html">Logo</a></li>
        <li><a href="./homePage.html">CuriousCat</a></li>
        <li style="float:right"><div class="dropdown"><a href="javascript:void(0)" class="dropbtn">UserDP</a>
        
        <div class="dropdown-content">
            <a href="#">Profile</a>
            <a href="#">Interest</a>
            <a href="#">Author</a>
            <a href="#">Articles</a>
            <a href="#">Settings</a>
            <a href="#">Log Out</a>
        </div>
    </div></li>

        <li style="float:right"><div><a href="./search.html">Search</a></div></li>
        <li style="float:right"><div><a href="./about.html">About Us</a></div></li>
        <li style="float:right"><div><a href="./influence.html">Influence!</a></div></li>
        <li style="float:right"><div><a href="./notifications.html">Notifications</a></div></li>
    </ul>
        
    </div> 
</header>