<header>
    <link rel="stylesheet" type="text/css" href="/css/navigation.css">
    <div class="nav">
        <ul class="topnav">
        <li><a href="/">Logo</a></li>
        <li><a href="/">CuriousCat</a></li>
        <li style="float:right"><div class="signUp">
            <a href="/signup"><button class="btn">Sign Up</button></a>
        </div></li>
        <li style="float:right"><div class="signIn">
            <a href="/signin"><button class="btn">Sign In</button></a>
        </div></li>
        <li style="float:right"><div><a href="/search">Search</a></div></li>
        <li style="float:right"><div><a href="/aboutus">About Us</a></div></li>
    </ul>
    </div>
    
</header>