<header>
    <link rel="stylesheet" type="text/css" href="/css/navigation.css">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <div id="logo">
    <a href="/"><img src="/images/CuteCatLogo.gif" alt="Logo"></a>      
    </div>
    <div class="nav">
        <ul class="topnav">
        <li><a href="/">CuriousCat</a></li>
        <li><div class="dropdown"><a href="javascript:void(0)" class="dropbtn">CAT-ego-ries</a>
        
        <div class="dropdown-content">
            <a href="/blogs/category/Pet">Pet</a>
            <a href="/blogs/category/Food">Food</a>
            <a href="/blogs/category/Travel">Travel</a>
            <a href="/blogs/category/Technical">Technical</a>
            <a href="/blogs/category/Movie">Movies and TV Series</a>
            <a href="/blogs/category/Educational">Educational</a>
            <a href="/blogs/category/Political">Political</a>
            <a href="/blogs/category/Photography">Photography</a>
        </div>
    </div></li>
    
        <li style="float:right"><div class="dropdown"><a href="javascript:void(0)" class="dropbtn">UserDP</a>
        
        <div class="dropdown-content">
            <a href="/myCreation">Profile</a>
<!--        <a href="/intrests">Interests</a>
            <a href="/author">Author</a>
 -->        <a href="/myCreation">Articles</a>
            <!-- <a href="/settings">Settings</a> -->
            <a href="/logout">Log Out</a>
        </div>
    </div></li>

<!--         <li style="float:right"><div><a href="/search.html">Search</a></div></li> -->
        <li style="float:right"><div><a href="/aboutus">About Us</a></div></li>
        <li style="float:right"><div><a href="/influence" >Influence!</a></div></li>
<!--         <li style="float:right"><div><a href="/notifications">Notifications</a></div></li> -->
    </ul>
        
    </div> 
</header>