<header>
    <link rel="stylesheet" type="text/css" href="/css/navigation.css">
    <div class="nav">
        <ul class="topnav">
        <li><a href="/">Logo</a></li>
        <li><a href="/">CuriousCat</a></li>
        <li><div class="dropdown"><a href="javascript:void(0)" class="dropbtn">CAT-ego-ries</a>
        
        <div class="dropdown-content">
            <a href="#">Pet</a>
            <a href="#">Food</a>
            <a href="#">Travel</a>
            <a href="#">Technical</a>
            <a href="#">Movies and TV Series</a>
            <a href="#">Educational</a>
            <a href="#">Political</a>
            <a href="#">Photography</a>
        </div>
    </div></li>
    
        <li style="float:right"><div class="signUp">
            <a href="/signup"><button class="btn">Sign Up</button></a>
        </div></li>
        <li style="float:right"><div class="signIn">
            <a href="/signin"><button class="btn">Sign In</button></a>
        </div></li>
        <li style="float:right"><div><a href="/search">Search</a></div></li>
        <li style="float:right"><div><a href="/aboutus">About Us</a></div></li>
    </ul>
    </div>
    
</header>