<header>
    <link rel="stylesheet" type="text/css" href="css/navigation.css">
    <div class="nav">
        <ul class="topnav">
        <li><a href="./homePage.html">Logo</a></li>
        <li><a href="./homePage.html">CuriousCat</a></li>
        <li style="float:right"><div class="signUp">
            <a href="./SignUp.html"><button class="btn">Sign Up</button></a>
        </div></li>
        <li style="float:right"><div class="signIn">
            <a href="./SignIn.html"><button class="btn">Sign In</button></a>
        </div></li>
        <li style="float:right"><div><a href="./search.html">Search</a></div></li>
        <li style="float:right"><div><a href="./about.html">About Us</a></div></li>
    </ul>
    </div>
    
</header>