<header>
    <link rel="stylesheet" type="text/css" href="/css/navigation.css">
    <script src="./javascript/"></script>
    <div class="nav">
        <ul class="topnav">
        <li><a href="/">Logo</a></li>
        <li><a href="/">CuriousCat</a></li>
        <li style="float:right"><div class="dropdown"><a href="javascript:void(0)" class="dropbtn">UserDP</a>
        
        <div class="dropdown-content">
            <a href="/profile">Profile</a>
            <a href="/intrests">Interests</a>
            <a href="/author">Author</a>
            <a href="/myCreation">Articles</a>
            <a href="/settings">Settings</a>
            <a href="/logout">Log Out</a>
        </div>
    </div></li>

        <li style="float:right"><div><a href="/search.html">Search</a></div></li>
        <li style="float:right"><div><a href="/aboutus">About Us</a></div></li>
        <li style="float:right"><div><a href="/influence" >Influence!</a></div></li>
        <li style="float:right"><div><a href="/notifications">Notifications</a></div></li>
    </ul>
        
    </div> 
</header>