/* * {box-sizing: border-box} */

/* Set a style for all buttons */
body{
  background: url('../images/abstract-black-luxury-fabric-background.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  background-position: center;
}
button {
  background-color: blue;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.8;
}

button:hover {
  opacity:1;
}

/* Float cancel and delete buttons and add an equal width */
.cancelbtn, .deletebtn {
  float: left;
  width: 50%;
}

/* Add a color to the cancel button */
.cancelbtn {
  background-color: #ccc;
  color: black;
}

/* Add a color to the delete button */
.deletebtn {
  background-color: #f44336;
}

/* Add padding and center-align text to the container */
.container {
  padding: 16px;
  text-align: center;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}





.myCreation h1{
    text-align: center;
    font-style: italic;
    color: #FFD700;
}

.flex-container2{
    
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border:1px dotted #008000;
    border-radius: 50px;
    padding: 4%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 25px;
    padding-top: 25px;
  }

.blogDiv1{
    padding: 0px;
    margin: 0px;
    height:100%;
    background-attachment: fixed; 
    background-position: center;
    background-size: cover; 
    margin-right: 10px;
}

.blogDiv3{
    margin-left: 10px;
    width: 50%;
    height: 200%;
    align-self: flex-end;
}

.blogDiv3Div1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content1{
    font-family: Times New Roman; 
  }
.authorName{
    color: rebeccapurple;
}

@media screen and (max-width: 640px){
    .flex-container2{
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        border-left: none;
        border-right: none;
        border-radius: 0px;
        border-top: none;
        border-bottom: 1px solid darkgreen;
    }
    .cancelbtn, .deletebtn {
        width: 100%;
      }
}